.green{
    color: green;
}

.red{
    color: red;
}
.features-section{
    width: 100%;
    padding: 4rem 0;
}

.features-section .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.features-section .first-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    color: #D8E9A8;
}

.features-section .first-half p{
    margin: 1.5rem 0;
}

.features-section .first-half .btn{
    align-self: flex-start;
}

.features-section .second-half{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.features-section .second-half .card{
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 170px;
    border-radius: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
    text-align: center;
    background-color: #D8E9A8;
    color: #1E5128;
    font-weight: bold;
}

.features-section .second-half .card:hover{
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.features-section  .card .top{
    display: flex;
    flex-direction: column;
}
.features-section .second-half img{
    width: 50px;
    margin: auto;
    padding: .2rem 0;
}

.features-section .icon{
    /* font-size: 36px; */
    margin: auto;
    justify-content: center;
    align-items: center;
}

.features-section span{
    font-size: 22px;
}


@media screen and (max-width: 940px){
    .features-section .container{
        grid-template-columns: 1fr;
    }

    .features-section .first-half .btn{
        align-self: center;
    }
}


@media screen and (max-width: 478px) {
    .features-section .container .second-half .card {
        width: 100%;
    }
}


