.foot{
    background-color: #191A19;
    color: #D8E9A8;
    padding: 3rem 0;
}

.foot .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    padding: 1rem;
}

.foot .col{
    display: flex;
    flex-direction: column;
    
}

.foot .bar{
    width: 30px;
    border-bottom: 4px solid #1E5128;
    margin: 1rem 0;
}

.foot a{
    font-size: 1rem;
    color: #D8E9A8;
}

.foot .icon{
    color: #D8E9A8;
    margin-right: 4px;
}


.foot h5{
    margin-top: 2rem;
    font-size: 20px;
}


@media screen and (max-width: 940px) {
    .foot .container {
        grid-template-columns: repeat(2,1fr);
    }

    .foot .col-1 {
        display: none;
    }

    
    
} 
     





